$color-white: #ffffff;
$color-gray: #c2c2c2;
$size-title: 20px;
$size-content: 20px;
$size-price: 20px;

.core-home {
    width: 100%;
    height: auto;
    z-index: 1;
    margin-bottom: 20px;
    border: solid 1px #c1c1c1;

    .search {
        width: 100%;
        background-color: #ddd;
        height: 60px;
        display: flex;
        justify-content: space-around;
        position: relative;
        align-items: center;

        span {
            width: 30%;
        }
    }

    .list-item {
        margin-bottom: 20px;

        .label-content {
            padding-top: 10px;
            padding-left: 20px;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 30px;
        }

        .container {
            width: 80%;
            height: 240px;
            background-color: $color-white;
            border: solid 1px $color-gray;
            border-radius: 5px;
            margin-top: 10px;
            padding: 5px;
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 0px;
            align-items: center;
    
            &:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
            
            .image {    
                width: 230px;
                height: 200px;
                overflow: hidden;
                position: relative;
                // z-index: 11;

                .image-total {
                    position: absolute;
                    padding: 8px;
                    background-color: #4287f5;
                    top: 0;
                    right: 0;
                    // z-index: 11;
                    color: #fff;
                }
            }
            
            .main-content-item {
                background-color: $color-white;
                display: flex;
                flex-direction: column;
                height: inherit;
                color: #222;
    
                .title {
                    font-size: $size-title;
                    margin: 10px 0px;
                    text-transform: uppercase;
                    color: #0066ff;
                    cursor: pointer;
                    border-bottom: 1px solid #ccc;

                    &:hover {
                        color: #0047b3;
                    }
                }
    
                .address {
                    margin: 10px 0px;
                    font-size: $size-content;
                }
    
                .icon {
                    margin: 10px 0px;
                    display: flex;
                    justify-content: flex-start;
                    font-size: $size-content;
    
                    .bed {
                        // margin-left: 20px;
                    }
    
                    .bath {
                        margin-left: 20px;
                    }
    
                    .square {
                        margin-left: 20px;
                    }
                }
                .type-room {
                    font-size: $size-content;
                }
                .price {
                    margin: 10px 0px;
                    color: #0066ff;
                    font-size: $size-price;
                }
    
                .infor {
                    display: flex;
                    justify-content: space-between;
                    font-size: $size-content;
                    margin-right: 20px;
    
                    .date {
    
                    }
    
                    .phone {
                    }
                }
            }
        }
    }
    .pagination {
        // display: inline-block;
        float: right;
        margin: 5px 0px;
        a {
            color: black;
            float: left;
            padding: 6px 12px;
            text-decoration: none;

            
        }
        a.active {
            background-color: #4287f5;
            color: white;
        }
      }

      
      .pagination a:hover:not(.active) {background-color: #ddd;}
}