$font-size: 1.4rem;
$font-color: rgb(62,97,126);

.core-catalog {
    width: auto;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    margin-right:5px; 
    font-size: $font-size;

    .catalog-content {
        text-decoration: none;
        position: relative;
        color: $font-color;
        font-weight: 600;

        &::after {
            content: '';
            width: 0%;
            height: 3px;
            background-color: rgb(153, 217, 234);
            position: absolute;
            bottom: -4px;
            left: 50%;
            border-radius: 10px;
            transition: all 500ms ease;
        }
        &:hover::after {
            left: 0%;
            font-weight: 1000;
            width: 100%;
        }
    }
}