$bg-color:#f1f3f4;

.main-content {
    width: 100%;
    height: auto;
    min-height: 60vh;
    overflow-x: hidden;
    background-color: $bg-color;
    padding-top: 90px;

    .container {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
    }
}

